<div class="contenedor">
<h1>Pages#Distribuidores</h1>
<div class="btn btn-1"><%= link_to 'Entrar' , new_dealer_session_path %></div>
<div class="btn btn-1"><%= link_to 'Registrar' , new_dealer_registration_path %></div>
</div>