<nav>
	<ul>
		<%= render "pages/navsinsession"%>
	<li>
		<%= button_to "Entrar", new_customer_session_path, method: :get, class: 'btn btn-entrar' %>
		<%= button_to "Registrar", new_customer_registration_path, method: :get, class: 'btn btn-registrar' %>
	</li>
	</ul>
</nav>
<div class="contenedor">
<h1>Pages#Microempresas</h1>
</div>
