<div class="contenedor">
<h1>Pages#Microempresas</h1>
<div class="btn btn-1"><%= link_to 'Entrar' , new_customer_session_path %></div>
<div class="btn btn-1"><%= link_to 'Registrar' , new_customer_registration_path %></div>
</div>
