<div class="contenedor">
	<div class="titulos">
		<h1 class="t_inicio">Pages#welcome</h1><br>
		<p class="frase">Find me in app/views/pages/welcome.html.erb</p><br>
	</div>
	<div class="botones">
		<%= button_to 'Microempresas' , microempresas_path, method: :get%>
		<%= button_to 'Distribuidor' , distribuidores_path, method: :get%>
	</div>
</div>