// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.orders{
	display: flex;
	flex-direction: column;
	background-color: #414141;
	height: 600px;
}
.categorias-orders{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.categoria-order{
	margin: 20px 30px;
	text-align: center;
}
.footer-orders{
	background-color: #FF2933;
	width: 100%;
	position: fixed;
	bottom: 0px;
	display: flex;
	justify-content: flex-end;
}
.footer-orders a{
	color: #050823;
	text-align: center;
	font-size: 15px;
	text-decoration: none;
	font-weight: bold;
	margin: 3px 5px;
	padding: 3px 15px;
	border-style: solid;
}
.footer-orders a:hover{
	background-color: #050823;
	color: white;
	border-color: #050823;
}
/*Cuadrando Tablas de ordenes clasificadas*/
.categoria-order table{
	border-bottom: 6px solid #3883a3;
}
.categoria-order tr:first-child th:first-child{
	background-color: #3883a3;
}
.categoria-order th{
	background-color: #71bbd2;
}
.Dulce table{
	border-bottom: 6px solid #69a776;
}
.Dulce tr:first-child th:first-child{
	background-color: #69a776;
}
.Dulce th{
	background-color: #97ce7f;
}
table{
	border-spacing: 1px;
	border-collapse: collapse;
	box-shadow: 4px 4px 0 #343434;
}
th{
	color: white;
	padding: 5px;
}
td{	
	background-color: #ebebeb;
	border:1px solid white;
	padding:  3px 6px;
}
.border-right{
	border-right:0px solid white !important;
}

@media (max-height: 650px) {
	.orders{
	height: 100%;
	}
}