.contenedor_productos{
	width:90%;
	height: auto;
	background-color:#E8E7E7;
	padding: 10px;
	margin: 0px auto;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}
.productos{
	display: flex;
	width: 250px;
	height: 250px;
	background-color: #dddddd;
	flex-flow: column wrap;
	margin: 5px;
	padding: 10px;
}
.New_product{
	display: flex;
	width: 250px;
	height: 250px;
	background-color: #dddddd;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	margin: 5px;
	padding: 10px;
}