.t_inicio{
	background-color: #ccc;
}
.frase{
	background-color: #ddd;
}
.texto-welcome{
	margin-top: 10%;
	flex-direction: column;
	text-align: center;
}
.botones{
	display: flex;
	justify-content: center;
}
.btn-p{
	font-size: 35px !important;

}
@media (max-width: 600px) {
	.botones{
		flex-direction: column;
		align-items: center;
	}
}