<li>
	Microempresa
</li>
<li>
	<%= button_to 'Pedido', orders_path, method: :get, class: 'btn' %>
</li>
<li>
	<%= button_to 'Productos', products_path, method: :get, class: 'btn' %>
</li>
<li>
	<a href="http://localhost:3000/microempresa/<%= current_customer.id %>">Perfil</a>
</li>
<li>
	<%= link_to "Salir", destroy_customer_session_path, method: :delete, class: 'sign-out' %>
</li>