<li>
	Distribuidor
</li>
<li>
	<a href="http://localhost:3000/distribuidor/<%= current_dealer.id %>">Perfil</a>
</li>
<li>
	<%= link_to "Salir", destroy_dealer_session_path, method: :delete, class: 'sign-out' %>
</li>